<template>
  <div>
    <b-modal hide-footer ref="AddIncome" id="AddIncome" :title="title">
      <b-form @submit="onSubmit">
        <div class="text-left">
          <span>Категория</span>
          <b-form-select v-model="params.category" :options="categories" class="mb-4"></b-form-select>
          <span>Описание</span>
          <b-form-input
                  placeholder="Описание"
                  required
                  v-model="params.description"
                  class="mb-4"
          ></b-form-input>
          <span>Дата</span>
          <datepicker class="w-50 mb-4" v-model="params.date" :language="locale" :bootstrap-styling="true"></datepicker>
          <span>Сумма</span>
          <b-form-input
            v-model="params.price"
            required
            class="mb-5 w-50"
          ></b-form-input>
        </div>
        <b-button  v-if="!is_cost" class="mb-3" type="submit" variant="info" block
          >Добавить</b-button
        >
        <b-button v-if="is_cost" class="mb-3" type="submit" variant="danger" block
        >Добавить</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import Notifications from 'vue-notification'
import Datepicker from 'vuejs-datepicker'
import {ru} from 'vuejs-datepicker/dist/locale'
Vue.use(Notifications)
export default {
  components: {
    Datepicker
  },
  data () {
    return {
      params: {
        price: 0,
        description: null,
        date: new Date(),
        category: '1'
      },
      locale: ru
    }
  },
  computed: {
    is_cost () {
      return this.$store.state.costs.type
    },
    categories () {
      return this.$store.state.category.categories
    },
    title () {
      if (this.is_cost) {
        return 'Добаваить расход'
      } else {
        return 'Добавить доход'
      }
    }
  },
  created () {
    this.$store.dispatch('fetchCategory')
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()
      this.$store.dispatch('addCost', { params: this.params, modal: this.$refs['AddIncome'] })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
