<template>
  <div>
  <Header></Header>
  <div class="container pt-5">
    <div class="row">
      <div class="col-4 offset-4">
        <div class="jumbotron pt-4">
          <div class="justify-content-between mb-3">
            <h5 class="mb-5">Авторизация</h5>
            <b-form-input
                    placeholder="Логин"
                    required
                    v-model="username"
                    class="mb-4"
            ></b-form-input>
            <b-form-input
                    placeholder="Пароль"
                    type="password"
                    v-model="password"
                    class="mb-5"
            ></b-form-input>
            <b-button class="mb-3" @click="login" type="submit" variant="info" block
            >Войти</b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      username: null,
      password: null
    }
  },
  methods: {
    login () {
      this.$store.dispatch('loginCheck', {'username': this.username, 'password': this.password})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .filter-wrapper {
    display: flex;
    align-items: center;
    height: 38px;
  }
  .fa-sliders-h {
    font-size: 28px;
    color: rgba(60, 60, 60, 0.26);
    cursor: pointer;
  }
  .fa-sliders-h:hover {
     color: #343a40;
   }
  .fa-sliders-h-active {
    color: #343a40;
  }
</style>
