<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link  class="navbar-brand"  :to="{ name: 'costs' }">Costs</router-link>
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item mr-4">
          <b-button class="btn btn-info" v-b-modal.AddIncome @click="AddIncome"
            ><i class="fas fa-wallet mr-4"></i><b>Доход</b></b-button
          >
        </li>
        <li class="nav-item">
          <b-button class="btn  btn-danger" @click="AddCost" type="button" v-b-modal.AddIncome>
            <i class="fas fa-cash-register mr-4"></i><b>Расход</b>
          </b-button>
        </li>
      </ul>
    </div>
      <UserMenu/>
    <ModalIncome/>
  </nav>
</template>

<script>

import UserMenu from './UserMenu'
import ModalIncome from '@/components/Modals/ModalIncome'
export default {
  components: {
    UserMenu,
    ModalIncome
  },
  methods: {
    AddIncome () {
      this.$store.commit('setTypeModal', false)
    },
    AddCost () {
      this.$store.commit('setTypeModal', true)
    }
  }
}
</script>

<style scoped></style>
