<template>
  <div>
    <b-dropdown id="dropdown-1" :text="user" right class="m-md-2">
      <b-dropdown-item ><router-link class="dropdown-item p-0" :to="{ name: 'costs' }">Главная</router-link></b-dropdown-item>
      <b-dropdown-item ><router-link  class="dropdown-item p-0" :to="{ name: 'statistic' }">Статистика</router-link></b-dropdown-item>
      <b-dropdown-divider></b-dropdown-divider>
      <b-dropdown-item @click="logout">Выход</b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
export default {
  computed: {
    user () {
      return this.$store.state.auth.username
    }
  },
  methods: {
    logout () {
      this.$router.push({name: 'auth'})
      localStorage.removeItem('token')
    }
  }
}
</script>

<style scoped></style>
