<template>
  <div>
      <table class="table">
          <thead class="thead-dark">
          <tr>
              <th scope="col">Дата</th>
              <th scope="col">Статус</th>
              <th scope="col">Категория</th>
              <th scope="col">Описание</th>
              <th scope="col">Сумма</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <WorkListItem v-for="item  in items" :key="item.id" :event="item"/>
          </tbody>
      </table>
  </div>
</template>

<script>
import Loader from '../Shared/Loader'
import WorkListItem from './WorkListItem'
export default {
  name: 'Index',
  components: {
    WorkListItem,
    Loader
  },
  created () {
    this.$store.dispatch('fetchTasks')
  },
  computed: {
    items () {
      return this.$store.state.costs.tasks.payload
    },
    fetching () {
      return this.$store.state.costs.tasks.fetching
    },
    error () {
      return this.$store.state.costs.tasks.error
    }
  }
}
</script>

<style scoped></style>
