<template>
  <tr class="bg-white">
    <td scope="row">
      {{ date }}
    </td>
    <td>
      <h5>
        <span v-if="event.cost" class="badge badge-danger">Расход</span>
        <span v-if="!event.cost" class="badge badge-success">Доход</span>
      </h5>
    </td>
    <td>
      {{ event.category && event.category.name }}
    </td>
    <td>{{ event.description }}</td>
    <td>{{ event.price }} ₽</td>
    <td>
      <b-button class="btn  btn-primary" type="button" v-b-modal.AddIncome
        ><i class="fas fa-cog"></i></b-button
      >
    </td>
  </tr>
</template>

<script>
export default {
  props: ['event'],
  computed: {
    date () {
      return new Date(this.event.date).toLocaleDateString()
    }
  }
}
</script>

<style scoped>
  td {
    vertical-align: middle;
  }
</style>
