<template>
  <div id="app">
    <router-view/>
    <notifications class="mt-3"/>
  </div>
</template>

<script>
import '@/styles/bootstrap.min.css'

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.form-control[readonly] {
  background: #fff!important;
}
</style>
