<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron pt-4">
          <div class="d-flex justify-content-between mb-3">
            <div class="d-flex">
              <datepicker class="mr-3" v-model="dateStart" :language="locale" right format="d MMMM yyyy | D"
                          :bootstrap-styling="true"></datepicker>

              <div class="d-flex align-items-center filter-wrapper">
                <i class="fas fa-sliders-h" @click="showFilters" v-bind:class="{'fa-sliders-h-active' : filters}"></i>
              </div>
            </div>
            <div class="d-flex mb-2 align-items-center">
              <h4 class="mb-0 mr-4"><span class="badge badge-success">Доход: {{totalIncome}} ₽</span></h4>
              <h4 class="mb-0 mr-4"><span class="badge badge-danger">Расход: {{totalCosts}} ₽</span></h4>
              <h4 class="mb-0"><span class="badge badge-secondary">Итог: {{totalIncome - totalCosts}} ₽</span></h4>
            </div>
          </div>
          <div class="mt-4 mb-4 card" v-if="filters">
            <h5 class="card-header text-left">Фильтры</h5>
            <div class="card-body">
              <div class="d-flex">
                <div class="mr-3">
                  <p class="text-left mb-0">Конечная дата</p>
                  <datepicker v-model="dateEnd" :language="locale" right format="d MMMM yyyy | D"
                              :bootstrap-styling="true"></datepicker>
                </div>
                <div class="w-25 mr-3">
                  <p class="text-left mb-0">Категория</p>
                  <b-form-select v-model="selectCategory" :options="categories" class="mb-4"></b-form-select>
                </div>
                <div class="w-25">
                  <p class="text-left mb-0">Статус</p>
                  <b-form-select v-model="is_cost" :options="statuses" class="mb-4"></b-form-select>
                </div>
              </div>
            </div>
          </div>
          <WorkList/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WorkList from '@/components/WorkList'
import Datepicker from 'vuejs-datepicker'
import {ru} from 'vuejs-datepicker/dist/locale'

export default {
  name: 'Index',
  components: {
    WorkList,
    Datepicker
  },
  data () {
    return {
      locale: ru,
      selected: 1,
      filters: false,
      statuses: [{ text: 'Расход', value: 1 }, { text: 'Доход', value: 0 }]
    }
  },
  computed: {
    is_cost: {
      get () {
        return this.$store.state.costs.is_cost
      },
      set (value) {
        this.$store.commit('setIsCost', value)
        this.$store.dispatch('fetchTasks')
      }
    },
    dateStart: {
      get () {
        return this.$store.state.costs.dateStart
      },
      set (value) {
        this.$store.commit('setDateStart', value)
        this.$store.dispatch('fetchTasks')
      }
    },
    dateEnd: {
      get () {
        return this.$store.state.costs.dateEnd
      },
      set (value) {
        this.$store.commit('setDateEnd', value)
        this.$store.dispatch('fetchTasks')
      }
    },
    selectCategory: {
      get () {
        return this.$store.state.costs.selectCategory
      },
      set (value) {
        this.$store.commit('setSelectCategory', value)
        this.$store.dispatch('fetchTasks')
      }
    },
    categories () {
      return this.$store.state.category.categories
    },
    totalCosts () {
      return this.$store.state.costs.tasks.payload.reduce((sum, current) => {
        if (current.cost) {
          return sum + Number(current.price)
        }
        return sum
      }, 0)
    },
    totalIncome () {
      return this.$store.state.costs.tasks.payload.reduce((sum, current) => {
        if (!current.cost) {
          return sum + Number(current.price)
        }
        return sum
      }, 0)
    }
  },
  methods: {
    showFilters () {
      this.filters = !this.filters
      this.$store.commit('setDateEnd', null)
      this.$store.commit('setSelectCategory', null)
      this.$store.dispatch('fetchTasks')
    }
  }
}
</script>
