<template>
  <div>
  <Header class="mb-5"></Header>
  <router-view/>
  </div>
</template>

<script>
import Header from '@/components/Shared/Header'

export default {
  components: {
    Header
  }
}
</script>
