<template>
  <div class="container">
    <line-chart></line-chart>
  </div>
</template>

<script>
import LineChart from '@/components/LineChart/LineChart.js'

export default {
  components: {
    LineChart
  }
}
</script>

<style>

</style>
